pkgbase = google-chrome-dev
	pkgdesc = An attempt at creating a safer, faster, and more stable browser (Dev Channel)
	pkgver = 41.0.2272.12
	pkgrel = 1
	url = https://www.google.com/chrome/index.html
	install = google-chrome-dev.install
	arch = i686
	arch = x86_64
	license = custom:chrome
	depends = alsa-lib
	depends = desktop-file-utils
	depends = flac
	depends = gconf
	depends = gtk2
	depends = harfbuzz
	depends = harfbuzz-icu
	depends = hicolor-icon-theme
	depends = icu
	depends = libpng
	depends = libxss
	depends = libxtst
	depends = nss
	depends = opus
	depends = snappy
	depends = speech-dispatcher
	depends = ttf-font
	depends = xdg-utils
	optdepends = kdebase-kdialog: needed for file dialogs in KDE
	optdepends = ttf-liberation: fix fonts for some PDFs
	provides = google-chrome=41.0.2272.12
	noextract = google-chrome-unstable_41.0.2272.12_i386.deb
	noextract = google-chrome-unstable_41.0.2272.12_amd64.deb
	options = !emptydirs
	options = !strip
	source = google-chrome-unstable_41.0.2272.12_i386.deb::http://dl.google.com/linux/chrome/deb/pool/main/g/google-chrome-unstable/google-chrome-unstable_41.0.2272.12-1_i386.deb
	source = google-chrome-unstable_41.0.2272.12_amd64.deb::http://dl.google.com/linux/chrome/deb/pool/main/g/google-chrome-unstable/google-chrome-unstable_41.0.2272.12-1_amd64.deb
	source = eula_text.html
	sha256sums = f7ff570b21bbaece9fecbd098ddbc838caab784aaecd040309de6afb09366a9e
	sha256sums = 0fb575ab0d061c236c98934ba06a202dba1933bf229b55f057f63cacf8ac67a7
	sha256sums = af48d6467196286e5450f52fd4fd819f9f5c631b322eeac3e23944403d06fcff

pkgname = google-chrome-dev

