pkgbase = google-chrome-dev
	pkgdesc = An attempt at creating a safer, faster, and more stable browser (Dev Channel)
	pkgver = 41.0.2272.3
	pkgrel = 1
	url = https://www.google.com/chrome/index.html
	install = google-chrome-dev.install
	arch = i686
	arch = x86_64
	license = custom:chrome
	depends = alsa-lib
	depends = desktop-file-utils
	depends = flac
	depends = gconf
	depends = gtk2
	depends = harfbuzz
	depends = harfbuzz-icu
	depends = hicolor-icon-theme
	depends = icu
	depends = libpng
	depends = libxss
	depends = libxtst
	depends = nss
	depends = opus
	depends = snappy
	depends = speech-dispatcher
	depends = ttf-font
	depends = xdg-utils
	optdepends = kdebase-kdialog: needed for file dialogs in KDE
	optdepends = ttf-liberation: fix fonts for some PDFs
	provides = google-chrome=41.0.2272.3
	noextract = google-chrome-unstable_41.0.2272.3_i386.deb
	noextract = google-chrome-unstable_41.0.2272.3_amd64.deb
	options = !emptydirs
	options = !strip
	source = google-chrome-unstable_41.0.2272.3_i386.deb::http://dl.google.com/linux/chrome/deb/pool/main/g/google-chrome-unstable/google-chrome-unstable_41.0.2272.3-1_i386.deb
	source = google-chrome-unstable_41.0.2272.3_amd64.deb::http://dl.google.com/linux/chrome/deb/pool/main/g/google-chrome-unstable/google-chrome-unstable_41.0.2272.3-1_amd64.deb
	source = eula_text.html
	sha256sums = b4defb35cd90c68b8372ce10ef007c9d7161f08794a9a87708e7a095df7fb689
	sha256sums = a58515ca019cd53caaae903601299cf21f5e16f56a889676e16a9e347e069ffe
	sha256sums = af48d6467196286e5450f52fd4fd819f9f5c631b322eeac3e23944403d06fcff

pkgname = google-chrome-dev

